<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://DESKTOP-F925KJB:1433;Database=HotelDb;encrypt=true;trustServerCertificate=true;</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">testuser</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Hibernate Settings -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Can be 'create', 'update', or 'validate' -->
        <mapping package="acp.acp_project.Entities"/>

    </session-factory>
</hibernate-configuration>
